{% extends 'base.html'%}
{% load static %}
{%block content%}
    {% for i in prlist%}
        <div сlass = "card" style="width: 18rem; background-color: gray; border-radius: 5%;">
            {% if i.media %}
                <img src="{{i.media.url}}" class="card-img-top">
            {% else %}
                <img src="{% static 'images/no-images.png' %}" class="card-img-top">
            {% endif %}
            <div class = "card-body">
                <h5 class="card-title">{{i.author}}</h5>
                <p class="card-text">{{i.text}}</p>
                <div style="display: flex;">
                    <!-- <form method="post" action="{% url 'like' i.pk%}">
                        {% csrf_token %}
                        <button type="submit" value="{{i.id}}" name="like_id">Like</button>
                    </form>
                    <p>{{i.likes}} -likes </p> -->
                    <a href="{% url 'port_detail' i.pk%}" class="btn btn-primary" style="margin-left: auto;">detail</a>
                </div>
            </div>
        </div><br>
    {% endfor %}
{% endblock %}