{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
<section class="homepage">
    <div class="homepage-container text-center py-5">
        <h1 class="welcome-title">Ласкаво просимо на Портал Групи!</h1>
        <p class="welcome-text mt-3">Тут ви можете знайти всю необхідну інформацію та ресурси для вашої групи.</p>
    </div>
    <div class="homepage-widget">
    <h3>Форум</h3>
    <p>Кожен зареєстрований користувач може писати повідомлення на форумі. Адміністратори та модератори можуть створювати, редагувати та видаляти гілки форуму. Дані користувачів проходять валідацію.</p>
    <a href="{% url 'login' %}">Перейти на форум</a>
</div>

<div class="homepage-widget">
     <h3>Електронний щоденник</h3>
    <p>Відображення оцінок всіх учнів. Адміністратори можуть зручно додавати, редагувати та видаляти оцінки.</p>
    <a href="{% url 'login' %}">Перейти до щоденника</a>
</div>
    <div class="homepage-widget">
    <h3>Події та календар</h3>
    <ul>
        <li>Відображення подій та календаря подій.</li>
        <li>Адміністратори та модератори можуть додавати, редагувати та видаляти події.</li>
    </ul>
    <a href="{% url 'calendar' %}">Перейти до подій</a>
</div>
    <div class="homepage-widget">
    <h3>Система опитувань</h3>
    <ul>
        <li>Зареєстровані користувачі можуть проходити опитування.</li>
        <li>Можливість створювати багатоетапні опитування.</li>
        <li>Користувач може пройти опитування лише один раз; зберігається лише останній результат.</li>
        <li>Адміністратори та модератори можуть створювати, редагувати та видаляти опитування.</li>
        <li>Адміністратори та модератори можуть переглядати результати опитувань у зручному вигляді.</li>
    </ul>
    <a href="{% url 'login' %}">Перейти до опитувань</a>
</div>
    <div class="homepage-widget">
    <h3>Система голосувань</h3>
    <ul>
        <li>Можливість всім зареєстрованим користувачам проходити голосування.</li>
        <li>Користувач може пройти конкретне голосування лише один раз(або
переголосувати, при цьому зберігається лише останній результат)</li>
        <li>Адміністратори та модератори можуть створювати, редагувати та
видаляти голосування.</li>
        <li>Всі користувачі можуть переглядати результати голосувань.</li>
    </ul>
    <a href="{% url 'login' %}">Перейти до голосувань</a>
</div>
    <div class="homepage-widget">
    <h3>Оголошення</h3>
    <ul>
        <li>Оголошення — це короткі повідомлення про важливі події чи новини, які допомагають групі швидко дізнатися актуальну інформацію.</li>
        <li>Адміністратори та модератори можуть створювати, редагувати та
видаляти оголошення.
</li>

    </ul>
    <a href="{% url 'login' %}">Перейти до оголошень</a>
</div>
<div class="homepage-widget">
    <h3>Матеріали</h3>
    <ul>
        <li>Відображення корисних матеріалів та посилань.</li>
        <li>Повинно підтримуватись відображення різного типу файлів, картинок,
посилань на youtube у вигляді відео-плейера з можливістю перегляду на
сторінці.</li>
        <li>Адміністратори та модератори можуть завантажувати нові файли та
посилання, редагувати та видаляти нові матеріали.</li>

    </ul>
    <a href="{% url 'login' %}">Перейти до матеріалів</a>
</div>
    <div class="homepage-widget">
    <h3>Портфоліо</h3>
    <ul>
        <li>Відображення кращих проектів учнів: скріншоти, посилання, файли.</li>
        <li>Всі користувачі можуть створювати, редагувати та видаляти свої
портфоліо.</li>
        <li>Портфоліо — це розділ, де кожен учень може розмістити свої найкращі проєкти, щоб поділитися результатами роботи та досягненнями з групою.</li>

    </ul>
    <a href="{% url 'login' %}">Перейти до портфоліо</a>
</div>
    <div class="homepage-widget">
    <h3>Галерея</h3>
    <ul>
        <li>Відображення фото/відео учнів.</li>
        <li>Можливість додавання нових фото/відео матеріалів любим користувачем
з перевіркою адміністратором або модератором.</li>
    </ul>
    <a href="{% url 'login' %}">Перейти до галереї</a>
</div>
</section>
{% endblock %}
