{% extends 'base.html'%}

{% block content%}
    {% for i in massagelist %}
        <div style="background-color:rgb(159, 164, 244); border-radius: 3%;">
            {{i.author}}<br>
            {{i.massage}}<br><br>
            {% if user.is_authenticated%}
                <a href="{% url 'del_massage' i.pk%}">delete</a>
                <a href="{% url 'upd_massage' i.pk%}">редагувати</a>
            {% endif %}
        </div><br>
    {% endfor %}

<a href="{% url 'create_massage' branch%}">написати</a>    
{% endblock %}
